<form class="form" [formGroup]="datesForm" (change)="loadPagingWrapper()">
  <label for="start-date">
    Start date: <input type="date" name="start-date" formControlName="startDate" />
  </label>
  <label for="end-date">
    End date <input type="date" name="end-date" formControlName="endDate"
  /></label>

  <label for="pagination">
    Per page:
    <select formControlName="perPage" name="pagination">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="15">15</option>
    </select>
  </label>
</form>

<div class="apod-card">
  <app-apod-card *ngFor="let card of currentPageResults" [card]="card"></app-apod-card>
</div>

<app-pagination
  [perPage]="formPerPage.value"
  [totalPages]="totalPagesCount"
  (currentPage)="currentPageController($event)"
></app-pagination>
