:host {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: white;
  box-shadow: -4px 7px 12px -6px rgba(34, 60, 80, 0.29);

  width: 80%;

  margin-top: 5vw;

  img {
    width: 40%;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top-block,
    .bottom-block {
      justify-content: center;
    }

    .bottom-block {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  button {
    display: flex;
    height: 40px;
    align-content: center;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    padding: 20px;
    background-color: white;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      background-color: rgba(34, 60, 80, 0.29);
      transition: background-color 1s;
    }
  }
}

@media (max-aspect-ratio: 4/3) {
  .card {
    display: flex;
    flex-direction: column;

    img,
    iframe {
      width: 100%;
      margin-bottom: 20px;
    }

    iframe {
      height: 300px;
    }
  }
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(92, 92, 92, 0.2);
  border-right: 1.1em solid rgba(92, 92, 92, 0.2);
  border-bottom: 1.1em solid rgba(92, 92, 92, 0.2);
  border-left: 1.1em solid rgb(255, 255, 255);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
